[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "thirdparty/TFHEpp"]
	path = thirdparty/TFHEpp
	url = https://github.com/virtualsecureplatform/TFHEpp
[submodule "thirdparty/backward-cpp"]
	path = thirdparty/backward-cpp
	url = https://github.com/bombela/backward-cpp
[submodule "thirdparty/sanitizers-cmake"]
	path = thirdparty/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake
[submodule "thirdparty/CLI11"]
	path = thirdparty/CLI11
	url = https://github.com/CLIUtils/CLI11.git
